<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <h2>My Orders</h2>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>


        <!--        //进行循环得出下表-->
        <tr th:each="order:${orderList}">
            <td><a th:href="@{/order/viewOrder?orderId=}+${order.orderId}" th:text="${order.orderId}">1000</a></td>
            <td th:text="${order.orderDate}">2014/03/23 12:00:00</td>
            <td th:text="${order.totalPrice}">$18.50</td>
        </tr>
    </table>

</div>


<footer th:replace="common/bottom"></footer>
</body>
</html>