<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>

<div th:fragment="div">
    <h3>Account Information</h3>

    <table>
        <tr>
            <td>First name*:</td>
            <td><input type="text" name="firstName" required="required" /></td>
        </tr>
        <tr>
            <td>Last name*:</td>
            <td><input type="text" name="lastName" required="required" /></td>
        </tr>
        <tr>
            <td>Email*:</td>
            <td><input type="text" name="email" required="required" /></td>
        </tr>
        <tr>
            <td>Phone*:</td>
            <td><input type="text" name="phone" required="required" /></td>
        </tr>
        <tr>
            <td>Address 1*:</td>
            <td><input type="text" name="addr1" required="required" /></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td><input type="text" name="addr2" /></td>
        </tr>
        <tr>
            <td>City*:</td>
            <td><input type="text" name="city" required="required" /></td>
        </tr>
        <tr>
            <td>State*:</td>
            <td><input type="text" name="state" required="required" /></td>
        </tr>
        <tr>
            <td>Zip*:</td>
            <td><input type="text" name="zip" required="required" /></td>
        </tr>
        <tr>
            <td>Country*:</td>
            <td><input type="text" name="country" required="required" /></td>
        </tr>
    </table>
<!--暂时取消掉的偏好功能-->
<!--    <h3>Profile Information</h3>-->

<!--    <table>-->
<!--        <tr>-->
<!--            <td>Language Preference*:</td>-->
<!--            <td>-->
<!--                <select name="language" required="required">-->
<!--                    <c:forEach var="language" items="${applicationScope.languages}">-->
<!--                        <option value="${language}">${language}</option>-->
<!--                    </c:forEach>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Favourite Category:</td>-->
<!--            <td>-->
<!--                <select name="favouriteCategory">-->
<!--                    <c:forEach var="category" items="${session.categoryList}">-->
<!--                        <option value="${category.categoryId}">${category.categoryId}</option>-->
<!--                    </c:forEach>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Enable MyList</td>-->
<!--            <td><input type="checkbox" name="listOption"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Enable MyBanner</td>-->
<!--            <td><input type="checkbox" name="bannerOption"></td>-->
<!--        </tr>-->
<!--    </table>-->
</div>