<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Catalog">
        <form action="register" method="post">

            <h3>User Information</h3>

            <table>
                <tr>
                    <td>User ID*:</td>
                    <td><input name="userId" type="text" required="required" onfocusout="checkUsername()"></td>
                </tr>
                <tr style="color: red;display: none" id="userIdError">
                    <td>This ID has been used!</td>
                </tr>
                <tr>
                    <td>Password*:</td>
                    <td><input name="password" type="password" required="required"></td>
                </tr>
                <tr>
                    <td>Repeat password*:</td>
                    <td><input name="repeatedPassword" type="password" required="required"></td>
                </tr>
            </table>

            //暂时取消掉的验证密码和验证码功能
            <!--        <c:if test="${param.failure !=null}">-->
            <!--            <div style="color:#fe0000">Two passwords must be same</div>-->
            <!--        </c:if>-->
            <!--        <%@ include file="IncludeAccountFields.jsp" %>-->
            <div th:replace="account/IncludeAccountFields"></div>
            <div style="color:#fe0000">Fields marked with * are required</div>
            <span id="span"></span>
<!--            VerificationCode:<input type="text" name="checkCode" id="checkcode"/>-->
<!--            <img src="verificationCode" alt="VerificationCode" id="image"/>-->
<!--            <a href="register"><label>Another One</label></a><br>-->
            <!--        <c:if test="${param.verifyFailure!=null}">-->
            <!--            <div style="color:#fe0000">Verification code error</div>-->
            <!--        </c:if>-->
            <br>
            <input type="submit" name="register" value="Register"/><br/>
        </form>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
<script>
    //为用户名文本框添加这个方法，在文本框失去焦点以后运行
    //就是当用户填写完用户名后，进行下一步填写的时候，异步执行这个方法
    function checkUsername() {
        //获取用户名文本框对象
        var username = document.getElementsByName("userId")[0].value;
        //获取提示信息span对象
        var span1 = document.getElementById("userIdError");
        if (username == "") {
            span1.innerHTML = "用户名不能为空！";
            return;
        }
        console.log("test")
        //创建请求对象
        var xmlHttp = new XMLHttpRequest();

        //设置请求状态变化时触发的事件
        xmlHttp.onreadystatechange = function () {
            //如果请求状态码为4，说明请求已经完成，响应已经就绪
            if (xmlHttp.readyState == 4) {
                //响应状态码为200，响应完成
                if (xmlHttp.status == 200) {
                    //获取服务器返回的信息
                    var data = xmlHttp.responseText;
                    //判断返回的信息，输出响应的提示信息
                    if (data == 0) {
                        //如果返回0，说明用户名不重复，可以使用
                        span1.style.display = "inline";
                    } else {
                        //说明用户名重复，不能使用
                        span1.style.display = "none";
                    }
                }
            }
        }
        //创建连接
        xmlHttp.open("GET", "checkUserName?username=" + username, true);

        //发送请求
        xmlHttp.send();

    }
</script>

<!--<%@ include file="../common/IncludeButtom.jsp" %>-->