<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/static/css/jpetstore.css"
      type="text/css"
      media="screen"
    />
    <title>Document</title>
  </head>
  <body>
    <footer th:fragment="footer">
      <div id="Footer">
        <div id="PoweredBy">
          &nbsp<a href="www.mybatis.org">www.unitech.com</a>
        </div>

        <div id="Banner">
          底部desu
        </div>
      </div>
    </footer>
  </body>
</html>
