<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div th:replace="top"></div>
<div id="Content">
    <div id="Catalog">

        <h2 th:text="${category.name}">Category‘s name</h2>

        <table>
            <tr>
                <th>宠物编号</th>
                <th>宠物名称</th>
            </tr>
            <tr th:each="product:${productList}">
                <td th:text="${product.productId}">productId</td>
                <td th:text="${product.name}">productName</td>
            </tr>
        </table>

    </div>
</div>
<div th:replace="bottom"></div>
</body>
</html>






