<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="/css/jpetstore.css"
            type="text/css"
            media="screen"
    />
    <title>Mypetstore</title>
  </head>
  <body>
    <div th:replace="top"></div>
    <div id="Content">
      <div id="Welcome">
        <div id="WelcomeContent">
          <span th:if="${session.account} != null">
            <span th:if="${session.authenticated}">
              <p th:text="${session.account.userid}"></p>
            </span>
          </span>
        </div>
      </div>

      <div id="Main">
        <div id="Sidebar">
          <div id="SidebarContent">
            <a href="/catalog/viewCategory?categoryId=FISH">
              <img src="/images/fish_icon.gif" />
            </a>
            <br />
            海洋鱼类, 淡水鱼类 <br />
            <a href="/catalog/viewCategory?categoryId=DOGS">
              <img src="/images/dogs_icon.gif" />
            </a>
            <br />
            品种齐全 <br />
            <a href="/catalog/viewCategory?categoryId=CATS">
              <img src="/images/cats_icon.gif" />
            </a>
            <br />
            品种齐全, 更有国外奇异品种 <br />
            <a href="/catalog/viewCategory?categoryId=REPTILES">
              <img src="/images/reptiles_icon.gif" />
            </a>
            <br />
            蜥蜴, 海龟, 宠物蛇 <br />
            <a href="/catalog/viewCategory?categoryId=BIRDS">
              <img src="/images/birds_icon.gif" />
            </a>
            <br />
            奇异品种
          </div>
        </div>

        <div id="MainImage">
          <div id="MainImageContent">
            <map name="estoremap">
              <area
                alt="Birds"
                coords="72,2,280,250"
                href="/catalog/viewCategory?categoryId=BIRDS"
                shape="RECT"
              />
              <area
                alt="Fish"
                coords="2,180,72,250"
                href="/catalog/viewCategory?categoryId=FISH"
                shape="RECT"
              />
              <area
                alt="Dogs"
                coords="60,250,130,320"
                href="/catalog/viewCategory?categoryId=DOGS"
                shape="RECT"
              />
              <area
                alt="Reptiles"
                coords="140,270,210,340"
                href="/catalog/viewCategory?categoryId=REPTILES"
                shape="RECT"
              />
              <area
                alt="Cats"
                coords="225,240,295,310"
                href="/catalog/viewCategory?categoryId=CATS"
                shape="RECT"
              />
              <area
                alt="Birds"
                coords="280,180,350,250"
                href="/catalog/viewCategory?categoryId=BIRDS"
                shape="RECT"
              />
            </map>
            <img
              height="355"
              src="/images/splash.gif"
              align="middle"
              usemap="#estoremap"
              width="350"
            />
          </div>
        </div>

        <div id="Separator">&nbsp;</div>
      </div>
    </div>
    <div th:replace="bottom"></div>
  </body>
</html>
