<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div th:replace="top"></div>
<div id="Content">

    <div id="BackLink">
        <a th:href="'/catalog/viewCategory?categoryId='+${product.categoryId}">
            Return to <label th:text="${product.categoryId}">Category ID</label>
        </a>
    </div>

    <div id="Catalog">
        <h2 th:text="${product.name}"></h2>
        <table>
            <tr>
                <th>货架编号</th>
                <th>宠物编号</th>
                <th>宠物简介</th>
                <th>最后报价</th>
                <th>&nbsp;</th>
            </tr>

            <tr th:each="item:${itemList}">
                <td>
                    <a th:text="${item.itemId}"></a>
                </td>
                <td th:text="${item.product.productId}"></td>
                <td th:text="${item.attribute1}"></td>
                <!--<fmt:formatNumber value="${item.listPrice}" pattern="$#,##0.00" />-->
                <td th:text="${item.listPrice}"></td>
                <td>
                    <a>添加到购物车</a>
                </td>
            </tr>

        </table>

    </div>
</div>
<div th:replace="bottom"></div>
</body>
</html>
