<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="/css/jpetstore.css"
            type="text/css"
            media="screen"
    />
    <title>Mypetstore</title>
</head>
<body>
<div th:replace="top"></div>
<div id="Content">
    <div id="Catalog">
        <form action="/account/signonForm" method="post">
            <p>请输入您的用户名和密码。</p>
            <p>用户名:<input type="text" name="username"/> <br />
                密&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="password" name="password"/></p>
            <input type="submit" name="signon" value="登录" />
        </form>
        <p>需要创建一个新账户?</p>
        <a href="/account/newAccount">现在就注册!</a>
    </div>
</div>
<div th:replace="bottom"></div>
</body>
</html>







