<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/css/jpetstore.css"
      type="text/css"
      media="screen"
    />
    <title>Document</title>
  </head>
  <body>
    <header th:fragment="header">
      <div id="Header">
        <div id="Logo">
          <div id="LogoContent">
            <a href="/catalog/view"><img src="/images/logo-topbar.gif"/></a>
          </div>
        </div>

        <div id="Menu">
          <div id="MenuContent">
            <a href="viewcart">
              <img align="middle" name="img_cart" src="/images/cart.gif" />
            </a>
            <img align="middle" src="/images/separator.gif" />
            <span th:if="${session.account} eq null">
              <a href="/account/signon">登录</a>
            </span>
            <span th:if="${session.account} ne null">
              <span th:if="${!session.authenticated}">
                <a href="/account/signon">登录</a>
              </span>
            </span>
            <span th:if="${session.account} ne null">
              <span th:if="${session.authenticated}">
                <a href="/account/signoff">退出</a>
                <img align="middle" alt="连分隔符也加载不出来的话这网也太惨了" src="/images/separator.gif" />
                <a href="/account/editAccount">我的账户</a>
              </span>
            </span>
          </div>
        </div>

        <div id="Search">
          <div id="SearchContent">
            <form action="searchproducts">
              <input type="text" name="keyword" size="14" />
              <input type="submit" value="搜索" />
            </form>
          </div>
        </div>

        <div id="QuickLinks">
          <a href="/catalog/viewCategory?categoryId=FISH">
            <img src="/images/sm_fish.gif" />
          </a>
          <img src="/images/separator.gif" />
          <a href="/catalog/viewCategory?categoryId=DOGS"
            ><img src="/images/sm_dogs.gif"
          /></a>
          <img src="/images/separator.gif" />
          <a href="/catalog/viewCategory?categoryId=REPTILES"
            ><img src="/images/sm_reptiles.gif"
          /></a>
          <img src="/images/separator.gif" />
          <a href="/catalog/viewCategory?categoryId=CATS"
            ><img src="/images/sm_cats.gif"
          /></a>
          <img src="/images/separator.gif" />
          <a href="/catalog/viewCategory?categoryId=BIRDS"
            ><img src="/images/sm_birds.gif"
          /></a>
        </div>
      </div>
    </header>
  </body>
</html>
