<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.AccountMapper">

    <cache />

<!--通过id查询全部用户信息-->
    <select id="getAccountByUserId" parameterType="string" resultType="Account">
    SELECT
          SIGNON.USERID,
          ACCOUNT.EMAIL,
          ACCOUNT.FIRSTNAME,
          ACCOUNT.LASTNAME,
          ACCOUNT.STATUS,
          ACCOUNT.ADDR1 AS address1,
          ACCOUNT.ADDR2 AS address2,
          ACCOUNT.CITY,
          ACCOUNT.STATE,
          ACCOUNT.ZIP,
          ACCOUNT.COUNTRY,
          ACCOUNT.PHONE,
    FROM ACCOUNT, SIGNON
    WHERE ACCOUNT.USERID = #{userid}
      AND SIGNON.USERID = ACCOUNT.USERID
  </select>

<!--    通过id与密码获取整个用户-->
    <select id="getAccountByUserIdAndPassword" parameterType="Account" resultType="Account">
    SELECT
      SIGNON.USERID,
      ACCOUNT.EMAIL,
      ACCOUNT.FIRSTNAME,
      ACCOUNT.LASTNAME,
      ACCOUNT.STATUS,
      ACCOUNT.ADDR1 AS address1,
      ACCOUNT.ADDR2 AS address2,
      ACCOUNT.CITY,
      ACCOUNT.STATE,
      ACCOUNT.ZIP,
      ACCOUNT.COUNTRY,
      ACCOUNT.PHONE
    FROM ACCOUNT, SIGNON
    WHERE ACCOUNT.USERID = #{userid}
      AND SIGNON.PASSWORD = #{password}
      AND SIGNON.USERID = ACCOUNT.USERID
  </select>

<!--    更新用户信息-->
    <update id="updateAccount" parameterType="Account">
    UPDATE ACCOUNT SET
      EMAIL = #{email},
      FIRSTNAME = #{firstName},
      LASTNAME = #{lastName},
      STATUS = #{status},
      ADDR1 = #{address1},
      ADDR2 = #{address2,jdbcType=VARCHAR},
      CITY = #{city},
      STATE = #{state},
      ZIP = #{zip},
      COUNTRY = #{country},
      PHONE = #{phone}
    WHERE USERID = #{userid}
  </update>

<!--    创建用户信息-->
    <insert id="insertAccount" parameterType="Account">
    INSERT INTO ACCOUNT
      (EMAIL, FIRSTNAME, LASTNAME, STATUS, ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, USERID)
    VALUES
      (#{email}, #{firstName}, #{lastName}, 'OK', #{address1},  #{address2,jdbcType=VARCHAR}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{userid})
  </insert>

<!--    更改密码-->
    <update id="updateSignon" parameterType="Account">
    UPDATE SIGNON SET PASSWORD = #{password}
    WHERE USERID = #{userid}
  </update>

<!--    新增用户账户-->
    <insert id="insertSignon" parameterType="Account">
    INSERT INTO SIGNON (PASSWORD,USERID)
    VALUES (#{password}, #{userid})
  </insert>

</mapper>